body {
	margin: 5px;
	display: inline-block;
}

.boxes {
	display: inline-block;
}

.boxes a {
	display: inline-block;
	width: 500px;
	height: 700px;
	white-space: nowrap;
	overflow: hidden;
	text-indent: 100%;
}

a.writer {
	background: url(../images/box1-1-5.jpg) no-repeat;
    z-index: 5; 
}
a.writer {background-position: -100px -20px; }
a.writer:hover {background-position: ; }
a.writer:active {background-position: ; }

a.painter {
	background: url(../images/box2-1-1.jpg) no-repeat;
    z-index: 5; 
}
a.painter {background-position: -100px -93px; }
a.painter:hover {background-position: ; }
a.painter:active {background-position: ; }

.about {
	border-top: 1px solid black;
	padding: 0;
}

h2 {
	padding: 0; 
	margin: 0;
	display: inline-block;
	font-family: 2em 'Baskerville', serif; 
	color: black;
	font-weight: normal;
}

p {
	padding: 0; 
	margin: 0 0 10px 0;
	display: inline-block;
	font-family: 1.3em 'Baskerville', serif; 
	color: black;
	font-weight: normal;
}

footer {
	border-top: 2px double grey;
	text-align: center;

}








