@media only screen and (min-width: 1017px) {
  .boxes a {
  display: inline-block;
  width: 500px;
  height: 700px; 
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  }
}

@media only screen and (max-width: 1016px) {
  .boxes a {
  display: inline-block;
  width: 600px;
  height: 500px; 
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  }
  
  a.writer {background-position: -10px -50px; }
  a.writer:hover {background-position: -700px -10px ; }
  a.writer:active {background-position: -700px -10px ; }

  a.painter {background-position: -50px -80px; }
  a.painter:hover {background-position: -736px -38px; }
  a.painter:active {background-position: -736px -38px; }
}

@media only screen and (max-width: 655px) { 
  .boxes a {
    width: 250px;
    height: 450px;
  }

  a.writer {background-position: -80px -70px; }
  a.writer:hover {background-position: -780px -20px; }
  a.writer:active {background-position: -700px -20px; }

  a.painter {background-position: -100px -85px; }
  a.painter:hover {background-position: -797px -43px; }
  a.painter:active {background-position: -797px -43px; }
}

@media only screen and (max-width: 490px) {  
 .boxes a {
  display: inline-block;
  width: 100px;
  height: 300px; 
  white-space: nowrap;
  overflow: hidden;
  text-indent: 100%;
  }
a.writer {
  background: url(../images/box1-1-5-text.jpg) no-repeat;
    z-index: 5; 
}
a.writer {background-position: -10px -50px; }
a.writer:hover {background-position: -10px -50px; }
a.writer:active {background-position: -10px -50px; }

a.painter {
  background: url(../images/box2-1-1-text.jpg) no-repeat;
    z-index: 5;
}
a.painter {background-position: -20px -45px; }
a.painter:hover {background-position: -20px -45px; }
a.painter:active {background-position: -20px -45px; }

.navigation {
  display: none;
}

}

@media only screen and (max-width: 400px) {  
  
 }
}
